{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container h-100 d-flex align-items-center flex-wrap">
       
        
        {% if  activation_error.code == "already_activated" %}
        <div class="card  m-auto col-md-6 ">
            <div class="card-header bg-warning">
              Account Activation Status
            </div>
            <div class="card-body">
              <h5 class="card-title text-danger">{{ activation_error.message }}</h5>
              <p>
                   Click to <a href="{% url 'login' %}" class="btn btn-primary">Login</a> instead
              </p>
            </div>
        </div>

        {% else %}
        <div class="alert alert-danger"> {{ activation_error.message }} </div>
            
        {% endif %}
        
            
    </div>
    
{% endblock content %}