{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'sidenav.html' %}

    <div class="container p-5">
        <div id="carouselExampleCaptions" class="carousel fadeInDown " data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner ">
              <div class="carousel-item active">
                <div class="container w-75" >
                  <img src="{% static 'images/vil.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-caption d-none d-md-block">
                  <h1 class="display-1 fw-bolder">Komarock sector 1</h1>                                  
                </div>
              </div>
              <div class="carousel-item">
                <div class="container w-75" >
                  <img src="{% static 'images/vil1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-1 fw-bolder">Komarock sector 2</h1>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container w-75" >
                  <img src="{% static 'images/vil2.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-1 fw-bolder">Komarock sector 3</h1>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </div>


{% endblock %}